body, html {
	height:100%;
}

.hero-image {
  background-image: url("images/IMG_4022ed2_cr.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #EBEBEB;
     font-family: Helvetica;
 }
 
p {
 	color: #332F2C
 	font-size: 40px;
 	text-align: center;
 	font-family: Helvetica;
 }

#slogan {
	color: #9945AC;
	font-weight: bold;
	font-size: 80px;
	text-align: center;
 	font-family: Helvetica;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}