@import url('https://fonts.googleapis.com/css?family=Lato:900|Roboto+Condensed');

body, html {
	height:100%;
}

.hero-image {
  background-image: url("../images/albertson_correct.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-size: 200px;
    color: #332F2C;
    font-family: 'Lato', sans-serif;
 }

h2 {
	font-size: 100px;
	color: #9945AC;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

p {
 	color: #332F2C;
 	font-size: 40px;
 	text-align: center;
 	font-family: 'Roboto Condensed', sans-serif;
  line-height: 2em;
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 5em;
  margin-bottom: 5em;

 }

.container {
    position: relative;
    text-align: center;
    color: white;
}