body {
  text-align: center;
  background-image: url("images/IMG_4022ed2_cr.jpg");
  background-size: cover;
  font-family: Helvetica;
}

.img {
	max-width: 100%;
}
 
#h1 {
 	color: #332F2C
 	font-size: 200px;
 	text-align: center;
 	font-family: Helvetica;
 }
 
#p {
 	color: #332F2C
 	font-size: 20px;
 	text-align: center;
 	font-family: Helvetica;
 }

#slogan {
	color: #9945AC;
	font-weight: bold;
	font-size: 80px;
	text-align: center;
 	font-family: Helvetica;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}