body {
  text-align: right;
  background: url("images/IMG_4022ed2_cr.jpg");
  background-size: cover;
  font-family: Helvetica;
}
hr {
  width: 200px;
}
 #APerfectUnionTelevisionandtheWinningofSame-SexMarriage {
 	font-style: italic; 
 	font-weight: bold;
 }
 h1 {
 	color: #FFD6F9
 }
 p {
 	color: #EBEBEB;
 }

#slogan {
	color: #FFD6F9;
	font-weight: bold;
	font-size: 20px;
}