body {
  text-align: right;
  background-image: url("images/IMG_4022ed2_cr.jpg");
  background-size: cover;
  background-position: center;
  background-size: contain;
  font-family: Helvetica;
  width: 100vw;
	height: 100vh;
	margin: auto;
}

hr {
  width: 200px;
}
 
 h1 {
 	color: #FFD6F9
 }
 
 p {
 	color: #EBEBEB;
 }

#slogan {
	color: #FFD6F9;
	font-weight: bold;
	font-size: 20px;
}